{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<a href="/news/search/">Поиск</a>
<a href="{%url 'edit' post.pk%}">Редактировать статью</a>
<a href="{%url 'delete' post.pk%}">Удалить статью</a>
<p>
<h1>{{ post.title }}</h1>
<p> Тип: {{post.type}} </p>
<p> Категория: {{ post.category.id }} </p>
<p> Рейтинг: {{post.rating}} </p>
<p> Автор: {{post.author}} </p>
<p>{{ post.time_in|date:'d M Y' }}</p>
<hr>{{ post.text }}</hr>
<br>

<p><a href="subscribe">Подписаться</a></p>

{% endblock content %}