{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Search
{% endblock title %}

{% block content %}
<a href="/news/search/">Поиск</a>
<a href="/news/create/">Создать новость</a>
<a href="/news/create/">Создать статью</a>
<p>
<h1>Поиск</h1>
<h3>(всего новостей: {{ posts|length }})</h3>
<form method='GET'>
    {{ filter.form }}
    <input class="btn btn-primary" type='submit' value='Найти'>
</form>

   <hr>


       <table>
           <tr>
               <td>Заголовок</td>
               <td>Описание</td>
               <td>Автор</td>
               <td>Дата публикации</td>
           </tr>
           {% for post in filter.qs %}
           <tr>
               <td>
                <p align="left"><a href="/news/{{ post.id  }}">{{ post.title|censor }} </a>
            </td>
               <td><p align="left">{{ post.text|truncatechars:20 }}</td>
               <td><p align="left">{{ post.author }}</td>
               <td><p align="left">{{ post.time_in|date:'d M Y' }}</td>
           </tr>
           {% endfor %}
</table>

{% endblock content %}